@import "../../theme";

.s-today-band {
  height: 50px;
  & > * {
    display: inline-block;
    overflow: hidden;
    height: 36px;
  }

  .prev,
  .next {
    width: 8%;
    cursor: pointer;
    height: 44px;
    &:hover {
      background-color: fadeout(@brand-color, 80%);
    }
  }

  .day {
    width: 12%;
    text-align: center;
    padding: 4px 0;
    cursor: pointer;

    &.today {
      padding-top: 0;
      border-top: 4px solid darken(@brand-color, 10%);
    }

    &:hover {
      background-color: fadeout(@brand-color, 80%);
    }

    &.selected {
      background-color: @brand-color;
      color: @text-brand-color;
      cursor: default;
    }

    &.future {
      color: fadeout(@text-color, 60%);
    }
  }
}