@import "../../theme";

.s-toolbar-band {
  text-align: center;

  & > div {
    box-sizing: border-box;
    padding: 0 30px;
    display: inline-block;
    width: 100%;
    max-width: @max-stretch-width;
    text-align: left;
    border-bottom: 1px solid fade(@text-color, 20%);
    margin-bottom: 14px;

    & > * {
      display: inline-block;
      vertical-align: middle;
    }

    .s-loading-indicator {
      margin-left: 1px;
    }

    .s-text-button {
      padding: 3px 10px;
      margin: 12px 2px 2px 2px;
      font-size: 1.2em;
      color: @brand-color;

      &.pressed {
        color: @text-over-brand-color;
      }
    }
  }
}
