@import "../../theme";

.s-toolbar-band {
  height: 50px;
  text-align: center;

  & > div {
    box-sizing: border-box;
    padding: 3px 30px;
    display: inline-block;
    width: 100%;
    max-width: @max-stretch-width;
    text-align: left;

    & > * {
      display: inline-block;
      vertical-align: middle;
    }

    .s-loading-indicator {
      margin-left: 1px;
    }
  }
}
