@font-family: "Open Sans", sans-serif;
@text-color: #333;
@background-color: #ffffff;
@text-over-brand-color: #f9f3e5;
@brand-color: #26bdd4;

@mark-min-width: 300px;
//due to bug in less that prevent calculations in @media it needs to define all by hands
@mark-min-width-2: 600px;//@mark-min-width * 2;
@mark-min-width-3: 900px;//@mark-min-width * 3;
@mark-min-width-4: 1200px;//@mark-min-width * 4;

@max-stretch-width: @mark-min-width-4;

.button() {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background-color: fadeout(@brand-color, 80%);
  }

  &:active {
    background-color: fadeout(@brand-color, 50%);
    box-shadow: inset 0 0 20px 3px darken(fadeout(@brand-color, 50%), 8%);
  }

  &.pressed {
    background-color: @brand-color;
    box-shadow: inset 0 0 20px 3px darken(@brand-color, 8%);
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    cursor: default;
  }
}

.button-with-icon(@icon-url) {
  .button();
  background: @icon-url no-repeat center;
}
